{% extends "mailer/base.html" %}
{% block content %}
<div class="card card-body col-md-6 mx-auto">
  <h3 class="mb-3">Sign up</h3>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input class="form-control" name="username" value="{{ request.POST.username }}">
    </div>
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input class="form-control" name="email" value="{{ request.POST.email }}">
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input class="form-control" name="password" type="password">
    </div>
    <div class="mb-3">
      <label class="form-label">Confirm Password</label>
      <input class="form-control" name="confirm" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Sign up</button>
  </form>
  <hr>
  <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
</div>
{% endblock %}
